{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Eleições Joseenses 2020</h1>
    <p>Esse site tem como objetivo demonstrar alguns dados das eleições municipais de São José dos Campos.  </p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.eduardohp.com/" target="_blank"><span class="glyphicon glyphicon-flash"></span> Sobre o Autor</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/quazariun/PythonDataMining" target="_blank"><span class="glyphicon glyphicon-download"></span> Repositório do Projeto</a>
  </div>
</div>


{% endblock %}
